@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <h1>About Photogram</h1>


            <p>
                Photogram is a social media platform for sharing photos and thoughts, fostering interactions, and discovering content. 
                Built with ASP.NET, MVC and C#, it also features a robust backend and a React-based fronted to ensure a modern, responsive user experience. 
                The target users of our web application photogram, include casual social media users who want to share their moments with their friends and family.  
            </p>

            <p>
                Also, photographers and content creators looking to showcase their work, influencers and bloggers aiming to engage with an audience. 
                In general photogram is a social media platform where users that is seeking an interactive platform to explore and engage with a diverse content can use it.  
                Photogram is a user-friendly platform for sharing and connecting.
            </p>
        </div>
        <div class="col-md-6 d-flex">
            <div class="img-container d-flex align-items-center">
                <img class="img-fluid" src="~/images/frontpage.png" />
            </div>
        </div>
    </div>
</div>
